<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->

<head>
	<meta charset="utf-8" />

	<title>Заголовок</title>
	<meta content="" name="description" />
	<meta content="" property="og:image" />
	<meta content="" property="og:description" />
	<meta content="" property="og:site_name" />
	<meta content="website" property="og:type" />

	<meta content="telephone=no" name="format-detection" />
	<meta http-equiv="x-rim-auto-match" content="none">

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
</head>

<body>
	<div class="header">
		<div class="top_line">
			<div class="container-fluid">
				<div class="row justify-content-between align-items-center">
					<div class=" col-md-4 col-sm-4  col-5 order-1 order-sm-1 ">
						<div class="top_addr">
							<strong>Алматы</strong>
							<a class="fancybox" href="#map">ул.Еврейская 35</a>
						</div>
					</div>
					<div class="   col-md-4 col-sm-4  col-12 order-3  order-sm-2">
						<div class="logo_wrap">
							<a href="#" class="logo">
								<img src="img/logo2.png" alt="alt">
							</a>
						</div>
					</div>
					<div class="  col-md-4 col-sm-4  	col-5 order-2 order-sm-3">
						<div class="top_addr ta_right">
							<strong>+7 (777) <span>552-53-52 </span></strong>
							<a class="fancybox" href="#callback">Позвоните нам</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider">
			<ul id="title__slides">
				<li class=" slide showing"><img src="img/back.jpg"></li>
				<li class="slide"><img src="img/back2.jpg"></li>

			</ul>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>самые вкусные кексы во вселенной</h1>
				</div>
			</div>
		</div>
		<div class="buttons__top">
			<div class="container">
				<div class="row">
					<div class="col-md-1"></div>
					<div class=col-md-11>
						<a href="#" class="button  st_button">фотографии <br> вместе с нами</a>
						<a href="#" class="button">^ _ ^</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="nav top_mnu">
		<div class="container">
			<div class="row ">
				<div class="col-md-12 center">
					<ul>
						<li class="active"><a href="#">главная</a></li>
						<li><a href="#">О нас</a></li>
						<li><a href="#">Цены</a></li>
						<li><a href="#">Наши работы</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<div class="main_cats s_black">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h2>Мы делаем <span>не</span> только кексы</h2>
				</div>
			</div>

			<div class="row  justify-content-center">
				<div class="col-md-12">
					<ul class="mc_wrap">
						<li class="mc_item_wrap active">
							<div class="mc_item">
								<a href="#">
									<span></span>
									<h4>вкусняшка</h4>
								</a>

								<div class="bg_toggle"></div>
							</div>
							<ul>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
							</ul>
						</li>
						<li class="mc_item_wrap ">
							<div class="mc_item">
								<a href="#">
									<span></span>
									<h4>вкусняшка</h4>
								</a>

								<div class="bg_toggle"></div>
							</div>
							<ul>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
							</ul>
						</li>
						<li class="mc_item_wrap">
							<div class="mc_item">
								<a href="#">
									<span></span>
									<h4>вкусняшка</h4>
								</a>

								<div class="bg_toggle"></div>
							</div>
							<ul>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
							</ul>
						</li>
						<li class="mc_item_wrap ">
							<div class="mc_item">
								<a href="#">
									<span></span>
									<h4>вкусняшка</h4>
								</a>

								<div class="bg_toggle"></div>
							</div>
							<ul>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
							</ul>
						</li>
						<li class="mc_item_wrap ">
							<div class="mc_item">
								<a href="#">
									<span></span>
									<h4>вкусняшка</h4>
								</a>

								<div class="bg_toggle"></div>
							</div>
							<ul>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
							</ul>
						</li>
						<li class="mc_item_wrap ">
							<div class="mc_item">
								<a href="#">
									<span></span>
									<h4>вкусняшка</h4>
								</a>

								<div class="bg_toggle"></div>
							</div>
							<ul>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
								<li><a href="#">something</a></li>
							</ul>
						</li>
					</ul>

				</div>

			</div>
			<div class="row">
				<div class="container">
					<div class="col-md-12">
						<div class="mc_button_wrap">
							<a href="#callback" class="button fancybox">отзыв</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<h2 class="art_header">Мы - профеcсионалы высочайшего класса</h2>
					<p class="h_descr">
						Мы используем самые качественные материалы и работы
						осуществляются теми, кто являются профессионалами
						высочайшего класса.
					</p>
				</div>
			</div>
		</div>
		<div class="home_items">
			<div class="container">
				<div class="row">
					<div class="  col-xl-4 col-md-4 col-sm-6 col-xs-12">
						<div class="hi_items">
							<a href="img/_1.png" class="fancybox" data-fancybox-group="group"><img src="img/_1.png" alt="alt"></a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque aut debitis
								delectus esse eveniet fugiat impedit libero minus nemo nesciunt, nobis odio praesentium
								recusandae sapiente ullam voluptates. Ad, odio.
							</p>
						</div>
					</div>
					<div class=" col-xl-4 col-md-4 col-sm-6 col-xs-12">
						<div class="hi_items">
							<a href="img/_1.png" class="fancybox" data-fancybox-group="group"><img src="img/_1.png" alt="alt"></a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci culpa ducimus,
								eveniet ex expedita facilis in incidunt, maiores maxime, molestias nemo non nulla
								numquam officia quis veritatis vero vitae voluptates.
							</p>
						</div>
					</div>
					<div class=" col-md-4 col-sm-6 col-xs-12">
						<div class="hi_items">
							<a href="img/_1.png" class="fancybox" data-fancybox-group="group"><img src="img/_1.png" alt="alt"></a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi autem dolorem
								doloribus et facere fuga, libero minima minus pariatur placeat quae quidem quo rem saepe
								sed similique unde voluptatibus?
							</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="hi_items">
							<a href="img/_1.png" class="fancybox" data-fancybox-group="group"><img src="img/_1.png" alt="alt"></a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, adipisci animi,
								assumenda consectetur cumque deleniti deserunt eius et facere itaque laborum maiores
								minima modi nihil non porro quia repudiandae sapiente!
							</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="hi_items">
							<a href="img/_1.png" class="fancybox" data-fancybox-group="group"><img src="img/_1.png" alt="alt"></a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam excepturi laudantium
								nostrum odio odit, sed vel. A deleniti dolores facere ipsa pariatur quae sed. Aspernatur
								cumque molestias nobis pariatur voluptatum.
							</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="hi_items">
							<a href="img/_1.png" class="fancybox" data-fancybox-group="group"><img src="img/_1.png" alt="alt"></a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet aut culpa
								debitis, dolore eaque expedita facilis fugiat labore, minima necessitatibus nihil
								possimus qui quo repellat reprehenderit sapiente ullam veritatis.
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="s_bottom sb_but">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="sb_header">
						<h2>История кексов</h2>
					</div>
				</div>

			</div>
			<div class="sb_content ">
				<div class="row  align-items-center ">
					<div class="col-lg-4 col-md-5  ">
						<img src="img/garage.png" alt="alt">
					</div>
					<div class="col-lg-8 col-md-7">
						<p>Невероятно популярное кондитерское изделие с различными наполнителями называется кексом.
							История возникновения кекса уходит во времена существования Древнего Рима, в период развития
							которого было принято смешивать гранат, орехи, изюм и многие другие ингредиенты в ячменном
							пюре.

							«Кекс» получил свое название в Средние века благодаря сочетанию старофранцузского «Frui» —
							фрукты и английского " Kechel« — пирог. Сегодня современный английский язык имеет аналоговое
							слово «Cakes», что в переводе означает «пирожные». По современному рецепту приготовления
							кекса, выпекают его обычно из дрожжевого или бисквитного теста. Наиболее распространенными
							начинками являются любые орехи, сухофрукты, джемы, варенья, свежие фрукты и даже овощи.


						</p>
						<p>Историки утверждают, что особое распространение данный вид десерта получил в 16 веке. Это
							явление специалисты связывают с появлением сахарного песка, который поставлялся из
							американских колоний и способствовал долгому сохранению фруктов. Благодаря этому кексы стали
							излюбленным десертом многих европейских стран, в которых были свои традиционные ингредиенты
							этого блюда.
							На протяжении столетий рецепт кекса изменялся в соответствии с особенностью культур разных
							народов и стран, поэтому вскоре появились маффины, штолены, бисквиты и т.д. Вообще
							считается, что наилучший размер для кекса — это небольшие размеры круглой формы,
							рассчитанные на одну чашку горячего чая или ароматного кофе. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					© cake.com 2018
				</div>
				<div class="col-md-7 ">
					<div class="bot_mnu">
						<ul>
							<li><a href="#">О нас</a></li>
							<li><a href="#">Цена</a></li>
							<li><a href="#">Полезная информация</a></li>
							<li><a href="#">контакты</a></li>

						</ul>

					</div>

				</div>
				<div class="col-md-2">
					<img src="img/_live_web.png" alt="alt">
				</div>
			</div>
		</div>

	</div>

	<div class="hidden"></div>

	<!-- Mandatory for Responsive Bootstrap Toolkit to operate -->
	<div class="device-xs visible-xs"></div>
	<div class="device-sm visible-sm"></div>
	<div class="device-md visible-md"></div>
	<div class="device-lg visible-lg"></div>
	<!-- end mandatory -->
	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
	<script src="libs/jquery/jquery-1.11.1.min.js"></script>
	<script src="libs/jquery-mousewheel/jquery.mousewheel.min.js"></script>
	<script src="libs/fancybox/jquery.fancybox.pack.js"></script>
	<script src="libs/waypoints/waypoints-1.6.2.min.js"></script>
	<script src="libs/scrollto/jquery.scrollTo.min.js"></script>
	<script src="libs/owl-carousel/owl.carousel.min.js"></script>
	<script src="libs/countdown/jquery.plugin.js"></script>
	<script src="libs/countdown/jquery.countdown.min.js"></script>
	<script src="libs/countdown/jquery.countdown-ru.js"></script>
	<script src="libs/landing-nav/navigation.js"></script>
	<script src="libs/bootstrap-4/js/bootstrap.min.js"></script>
	<script src="libs/maskedinput/jquery.maskedinput.min.js"></script>
	<script src="libs/equalheight/jquery.equalheight.js"></script>
	<script src="libs/stellar/jquery.stellar.min.js"></script>
	<script src="js/common.js"></script>
	<!-- Yandex.Metrika counter -->
	<!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter -->
	<!-- /Google Analytics counter -->
</body>

</html>